<h1>Welcome <%= @user.email %>!</h1>
<p>Please pick one of the following checklists.</p>

<ul>
    <% @checklists.each do |checklist| %>
       <li><%= link_to checklist.name, checklist_path(checklist.uri) %></li>
    <% end %>
</ul>