<h1><%= @checklist&.name || "No Checklist Found" %></h1>

<% if @checklist.present? %>
A checklist exists!
<% unless @checklist.present? %>
<ul>
 <% @checklists.each do |checklist| %> 
    <li><%= link_to checklist.name, "#{ENV['link_url']}/checklists/#{checklist.uri}" %></li>
 <% end %>
</ul>

<% end %>

<p> Never gonna give you up </p>